
/* page wrapper  */
.t-page-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: #181818;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.t-page-wrapper *:focus {
    outline: #ffffff dashed 1px;
    outline-offset: 3px;
}

/* global */

.t-page-wrapper button{
    background-color: #e80a89;
    color: #ffffff;
    width: 120px;
    border: none;
    margin-top: 16px;
    transition: all 0.2s;
    font-size: 14px;
    padding: 10px 5px;
}

.t-page-wrapper button:hover {
    background-color: #19A7B5;
    transform: scale(1.05);
}

/* input view */
.t-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t-app-title{
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 32px;
    color: #ffffff;
}

.t-purpose-desc{
    margin-bottom: 12px;
    font-size: 14px;
    color: #ffffff;
}

.t-input-container textarea {
    width: 400px;
    height: 200px;
    resize: none;
    padding: 10px;
    color: #ffffff;
    background: #222;
    border: 1px solid #ccc;
    font-size: 12px;

}

.t-input-container > label{
    transition:all 1s ease;
    background: linear-gradient(to right, #e80a89 50%, #181818 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    font-size: 14px;
    margin-bottom: 12px;
    padding: 7px;
    color: #ffffff;
}

label.t-error{
    background-position:left bottom;
    color: #ffffff;
}

.t-list-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
}

.t-list-container .t-return{
    background:#e4f042;
    padding: 0 4px;
}

.t-list-inst strong{
    font-size: 24px;
}

.t-list-inst{
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.t-list-inst span{
    display: block;
    transition:all 1s ease;
    background: linear-gradient(to right, #e4f042 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:right bottom;
}

.t-list-inst span.one:hover,
.t-list-inst span.two:hover,
.t-list-inst span.three:hover,
.t-list-inst span.four:hover{
    background-position:left bottom;
}

.t-list {
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.t-list-item {
    display: flex;
    padding: 4px 0;
    transition:all 1s ease;
    background: linear-gradient(to right, #e4f042 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    align-items: center;
    line-height: 1;
}

.t-list-item:hover{
    background-position:left bottom;
}


.t-list-item input[type="checkbox"] {
    margin-right: 5px;
}

.t-list-item input[type="text"] {
    width: 90%;
}

.t-list button:first-of-type{
    margin-right: 16px;
}

.t-list-container button{
    display: inline-block;
}

.t-tile-container {
    width: 70%;
    box-sizing: border-box;
}

.t-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10px;
}

.t-grid img {
    width: 250px;
}

.t-tile {
    opacity: .5;
    transition: ease 0.3s;
}

.t-tile.t-hide {
    opacity: 0;
}

.t-remove{
    display: none;
}

.t-tile.t-hide:hover {
    opacity: 0;
}

.t-tile:hover {
    opacity: 1;
    transform: scale(1.05);
}

body .t-modal-shade{
    display: none;
}

body.modalOpen .t-modal-shade{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    z-index: 12;
}

.t-modal-image{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    max-width: 98%;
    max-height: 90%;
}

@media screen and (max-width: 1450px) {
    .t-list-container {
        width: 40%;
    }

    .t-tile-container {
        width: 60%;
    }
}